:root {
  --primary-color: rgb(113, 66, 255);
}

main {
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.Modal {
  position: absolute;
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  transform: translate(-50%, -50%);
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  z-index: 1000;
}

.Overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.75); /* 반투명 검은색 배경 */
  display: flex;
  align-items: center;
  justify-content: center;
}

a {
  color: rgb(84, 84, 84);
  text-decoration: none;
}

a:hover {
  color: rgb(0, 0, 0);
}

/*** FRIDGE section ***/
/*Fridge Card*/
.fridge-card-container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 10px;
}

.fridge-card-container li{
  list-style-type: none;
} 

.status {
  display: flex;
  justify-content: space-between;
  width: 382px;
  border: 2px solid transparent; /* 기본 테두리 설정 */
  transition: border 0.3s ease; /* 테두리 애니메이션 추가 */
  border-radius:10px;
  padding: 15px 10px 0px 10px; 
}

.status:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* 마우스를 올렸을 때 그림자 추가 */
}

.status .heading {
  display: flex;
  width: 190px;
  gap: 1rem;
  font-size: 14px;
}

.status .content {
  font-size: 12px;
}

.fridge-card .status-Fresh {
  background-color: rgba(212, 237, 255, 0.677);

}

.fridge-card .status-Alive {
  background-color: rgba(221, 255, 217, 0.677);
}

.fridge-card .status-Dying {
  background-color: rgba(255, 212, 212, 0.677);

}

.fridge-card .status-Dead {
  background-color: rgba(217, 217, 217, 0.677);
  color: rgb(114, 114, 114);

}

.fridge-card .status-Unknown {
  background-color: white;
}

.fridge-card-detail {
  display: flex;
}
.btn-add-circle {
  position: fixed;
  top: 91%;
  font-size:45px;
  left: 80%;
  cursor: pointer;
  color: rgb(17, 19, 22);
}

.btn-add-circle:hover {
  font-size:50px;
  color: var(--primary-color);
}

.trash-btn {
  color: gray;
}

.trash-btn:hover {
  color: red;
}

.filtering {
  display: flex;
  flex-wrap: nowrap;
}

.slider-item button {
  background-color: rgb(240, 240, 240);
  border: 0px;
  border-radius: 15px;
  width: auto;
  font-size: 14px;
  color: gray;
  margin-right: 5px;
}

.filtering button {
    padding: 5px 10px;
}

.slider-item button:hover {
  background-color: rgb(229, 229, 229);
  color: black;
}

.fridge-top {
  margin-left: 30px;
}

.fridge-top h1 {
  font-size: 25px;
  font-weight: 700;
}

.fridge-top p {
  padding: 0;
  margin: 10px 0px 0px 0px;
  font-size: 13px;
  font-weight: 500;
  color: rgb(134, 134, 134);
}

.fridge-filtering {
  width: 383px;
  overflow: hidden;
  display: flex;
}

.fridge-filtering p {
  font-size: 12px;
  color: gray;
  font-weight: 500;
}

.slick-slide > div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.slick-prev:before,
.slick-next:before {
  color: black; /* 화살표 색상 */
}

.fridge-top .top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.sort-toggle {
  display: flex;
}

.sort-toggle .icon {
  margin-top: 13px;
  margin-right: 3px;
}

@keyframes slideDown {
  from {
    opacity: 0;
    bottom: -100px;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    bottom: 0;
    transform: translateY(0);
  }
}

.sort-menu {
  display: flex;
  flex-direction: column;
  position: fixed;
  bottom: 0;
  width: 393px;
  background-color: white;
  padding: 30px 0px;
  animation: slideDown 0.5s ease-in-out;
}

.sort-menu button {
  background-color: white;
  border: none;
  padding: 10px 0px;
}

/*** NAVBAR section ***/
.navbar-container {
  padding: 10px 10px 0px 20px;
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  box-shadow: 1px 1px 1px rgba(156, 156, 156, 0.5);
  padding-bottom: 5px;
}

.navbar-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  list-style-type: none;
  padding:0;
  margin: 15px;
}

.navbar-list a {
  text-decoration: none;  
}

.navbar-link {
  font-size: 14px;
}

.profile-detail {
  display: flex;
  gap: 10px;
  align-items: center;
}

.navbar-list-profile img {
  height: 60px;
  width: auto;
}

.navbar-list-profile h2 {
  font-size: 18px;
  font-weight: 700;
  margin-top: 7px;
}

.navbar-list-profile p {
  font-size: 16px;
  font-weight: 500;
}

.navbar-title {
  color: black;
  font-size: 30px;
  font-weight: 900;
}

.mint {
  color: var(--primary-color);
}

.user-name {
  display: flex;
  align-items: center;
  gap: 10px;
}

.navbar-profile-container {
  display: flex;
  gap: 10px;
  margin: 0px 5px;
  align-items: center;
}

.navbar-profile-container p {
  font-weight: 500;
  font-size: 14px;
  margin-top: 12px;
  padding:0;
}

.navbar-profile-container img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.profile-modal {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 20.7%;
  left: 78%;
  right: auto;
  bottom: auto;
  width: 230px;
  transform: translate(-50%, -50%);
  background: white;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  z-index: 1000;

}

.line-with-shadow {
  width: 100%;
  height: 1px; /* 선의 두께 */
  background-color: #ffffff; /* 선의 색깔 */
  box-shadow: 1px 2px 1px rgba(82, 82, 82, 0.3); /* 그림자 효과 */
  margin: 0px; /* 선의 위아래 여백 */
}

/*** HOME section ***/
/*Meal Card 393 x 852*/
.home-message-container {
  text-align: left;
  display: flex;
  justify-content: space-between;
  gap: 100px;
  margin-top: 10px;
}

.home-message-container h1 {
  font-size: 18px;
  font-weight: 700;
}

.home-message-container button {
  border-radius: 7px;
  border: 0px;
  height: 30px;
  font-size: 12px;
  font-weight: 700;
  background-color: rgb(236, 236, 236);
}

.home-meal-container, .home-shop-container {
  width: 373px;
  padding: 15px 20px 10px;
  border: 1px solid;
  border-color: rgba(201, 201, 201, 0.671);
  box-shadow: 1px 1px 1px rgba(156, 156, 156, 0.5);
  border-radius: 15px;
  background-color: #ffffffa8;
}

.home-fridge-container {
  width: 373px;
  padding: 15px 20px 15px;
  background-color: rgba(207, 207, 207, 0.391);
  border-radius: 15px;
}

.home-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0;
}

.home-heading h2{
  font-size: 16px;
  font-weight: 700;
}

.btn-add {
  font-size: 12px;
  font-weight: 700;
  color: gray;
  border: none;
}

.btn-add:hover {
  color: black;
}


.home-shop-bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.modal-add-shop {
  display: flex;
  flex-direction: column;
  font-size: 13px;
}

.modal-add-shop h2 {
  font-size: 18px;
}

.modal-add-shop form {
  display: flex;
  gap: 10px;
  flex-direction: column;
  font-size: 13px;
}

.Modal {
  padding-top: 0;
}

.modal-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
  margin-top: 0;
  padding: 0;
}

.modal-heading h2 {
  margin-top: 24px;
  font-size: 18px;
}

.close-btn {
  background-color: transparent;
  border: none;
  color: rgb(81, 81, 81);
  font-size: 1.3rem;
  font-weight: 500;
  height: 20px;
  width: 20px;
  padding: 0;
  margin:0;
  cursor: pointer;
  border-radius: 50%;
}

.confirm-btn {
  background-color: white;
  border: none;
  border-radius: 5px;
  box-shadow: 0.5px 0.5px 0.5px 0.5px rgba(0, 0, 0, 0.3);
  font-weight: 500;
  background-color: var(--primary-color);
  color: white;
  margin-top: 10px;
}

.confirm-btn:hover {
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.402);
}

.btn-clear, .btn-auto-add {
  font-size: 12px;
  font-weight: 700;
  color: rgb(95, 95, 95);
  border: none;
  text-align: center;
  width: 50%;
  background-color: rgb(232, 232, 232);
}

.btn-auto-add:hover {
  background-color: var(--primary-color);
  color: white;
}

.btn-clear:hover {
  background-color: #ff0000;
  color: white;
}

.home-fridge-card-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0;
  padding: 0;
  margin: 0;
}

.home-fridge-card {
  width: 155px;
  height: 30px;
  display: flex;
  align-items: center;
  background-color: white;
  border-radius: 10px;
  box-shadow: 1px 1px 1px rgba(156, 156, 156, 0.5);
  margin: 5px 0px;
  padding: 0px 10px ;
  justify-self: center;
  justify-content: space-between;
}

.home-fridge-card:hover {
  box-shadow: 2px 2px 2px rgba(77, 77, 77, 0.5);
}

.home-fridge-card:hover p {
  font-weight: 700;
}

.home-fridge-card p {
  font-size: 13px;
  color: black;
  font-weight: 500;
}

.home-fridge-container p {
  margin: 0;
  font-size: 12px;
  font-weight:500;
  color: rgb(93, 93, 93);  
}

.home-fridge-card .status-Fresh {
  background-color: rgb(0, 136, 255);
  border-radius:50%;
  border: 1px solid;
  border-color: rgb(210, 210, 210);
  height: 15px;
  width: 15px;
}

.home-fridge-card .status-Alive {
  background-color: rgb(98, 255, 0);
  border-radius:50%;
  border: 1px solid;
  border-color: rgb(210, 210, 210);
  height: 15px;
  width: 15px;
}

.home-fridge-card .status-Dying {
  background-color: rgb(255, 106, 0);
  border-radius:50%;
  border: 1px solid;
  border-color: rgb(210, 210, 210);
  height: 15px;
  width: 15px;
}

.home-fridge-card .status-Dead {
  background-color: rgb(123, 123, 123);
  color: rgb(114, 114, 114);
  border-radius:50%;
  border: 1px solid;
  border-color: rgb(210, 210, 210);
  height: 15px;
  width: 15px;
}

.home-fridge-card .status-Unknown {
  background-color: white;
  border-radius:50%;
  border: 1px solid;
  border-color: rgb(210, 210, 210);
  height: 15px;
  width: 15px;
}

.fridge-graph {
  display: flex;
  gap: 5px;
  margin: 10px 0px;
}

.fridge-graph p {
  text-align: center;
  padding: 0;
  margin: 0;
  font-size: 8px;
  font-weight: 500;
  color: white;
}

.fridge-graph .status-Fresh {
  background-color: #007bff;
}

.fridge-graph .status-Alive {
  background-color: #87e800;
}

.fridge-graph .status-Dying {
  background-color: #ff6f00;
}

.fridge-graph .status-Dead {
  background-color: #656565;
}

.fridge-graph .category-Meat {
  background-color: rgb(143, 106, 253);
}

.fridge-graph .category-Fruit {
  background-color: rgb(113, 66, 255);
}

.fridge-graph .category-Grain {
  background-color: rgb(67, 22, 201);
}

.fridge-graph p {
  background-color: rgb(103, 70, 202);
}

.fridge-graph .category-Vegetable {
  background-color: rgb(81, 22, 255);
}

.fridge-graph .category-Noodle {
  background-color: rgb(64, 27, 175);
}

/*Shopping List*/

/* Home.css */
.home-shop-list {
  list-style: none;
  padding: 0;
  font-size: 13px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.home-shop-list li {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  padding-right: 10px;
  align-items: center;
}

.home-shop-list label {
  display: flex;
  align-items: center;
  gap: 8px;
}

.home-shop-r {
  font-size: 10px;
  font-weight: 900;
  text-align: right;
  color: var(--primary-color);
}

.custom-checkbox {
  display: none;
}

.custom-checkbox + label {
  position: relative;
  padding-left: 30px;
  cursor: pointer;
  user-select: none;
}

.custom-checkbox + label:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 20px;
  height: 20px;
  border: 1px solid #ccc;
  border-radius: 50%;
  background-color: white;
}

.custom-checkbox:checked + label:before {
  background-color: #ae00ff;
  border-color: #cc67ff;
}

.custom-checkbox + label:after {
  content: "";
  position: absolute;
  margin-left: 3px;
  margin-top: 3px;
  left: 4px;
  top: 0;
  width: 7px;
  height: 11px;
  border: solid white;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
  opacity: 0;
}

.custom-checkbox:checked + label:after {
  opacity: 1;
}
